.readon1{outline:0;padding:15px 29px;border:1px solid #106eea!important;border-radius:3px;display:inline-block;text-transform:uppercase;font-size:16px;font-family:Poppins,sans-serif;font-weight:500;color:#000;background:#f1f6ff;transition:all .3s ease}.btn-part{margin-bottom:7px}