/* Minified-css */
.sub-height{line-height:44px;}.border_left{border-left: 2px solid #106eea;}@media only screen and (max-width: 768px) {.sec-title .desc {display: inline-block;margin-bottom: 50px;}.border_left {border-left: 0 solid #106eea;}.cards_left_right {padding-left: 15px;margin-bottom: 16px;}}