.rs-services.style19 .services-item .services-wrap .icon-part{line-height:50px!important}
.rs-services.style19 .services-item .services-wrap .icon-part.purple-bg{background-color:#106eea!important}.services-height {min-height: 200px;}
.rs-services.style19 .services-item .services-wrap .services-content .services-title .title a:hover{color:#106eea!important}.sub-para{font-size:17px!important}.assessment-card{min-height:650px!important}.assessement-btn{position:absolute;bottom:20px;left:25%}.sub-height{line-height:44px}.border_left{border-left:2px solid #106eea}.border_left{border-left:2px solid #106eea}@media only screen and (max-width:600px){.border_left{border-left:0 solid #106eea}}

