/* body,
html {
    height: 100%;
    margin: 0
}

.bgimg {
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: #000;
    font-size: 25px
}

.topleft {
    position: absolute;
    top: 0;
    left: 16px
}

.bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center
} */
.small,
small {
       font-size: 20px;
       font-weight: 400;
}

hr {
    margin: auto;
    width: 13%
}

.txt {
    animation: color-change 3s infinite
}

@keyframes color-change {
    0% {
        color: #2778ed
    }
    50% {
        color: #967aeb
    }
    100% {
        color: #bb7bed
    }
}

#demo {
    font-size: 23px;
    font-family: "Courier New", Courier, monospace !important
}