.container-lg,
.container-md,
.container-sm,
.container-xl,
.menu-area .container {
    max-width: 1330px
}

.blue-bg {
    background: #1067ce
}

.rs-services.style13 .service-wrap:hover .content-part:after {
    width: 140px;
    height: 140px;
    background: #1067ce
}

#footer-id:hover {
    cursor: pointer
}

.rs-services.style13 .service-wrap:after {
    background: #1067ce
}

.rs-services.style13 .service-wrap:hover .content-part:before {
    border-color: #1067ce
}

.rs-services.style13 .service-wrap:hover .content-part .title a {
    color: #1067ce
}

.rs-solutions .style2 .last-half {
    display: table !important
}

.rs-solutions .style2 .image-part {
    text-align: center;
    display: table-cell;
    vertical-align: middle
}

.rs-solutions .style2 .image-part img {
    display: inline-block;
    vertical-align: middle
}

.desc_txt {
    height: 152px
}

.rs-blog.style1 .blog-wrap .content-part {
    height: 410px
}

.rs-partner.modify2 .partner-item a img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%)
}

.rs-partner.modify2 .partner-item a:hover img {
    filter: none !important
}

/* .rs-slider.slider8 .slider.slide4 {
    background-image: linear-gradient(90deg, #e8e9eb 0, #eaebedad 50%, rgba(255, 255, 255, 0) 100%), url(../assets/images/sec-service17.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
} */

.txt1 {
    color: #1067ce;
    padding: 5px 5px 5px 5px;
    line-height: 80px
}

.rs-slider.slider8 .owl-item.active .sl-subtitle {
    -webkit-animation: fadeInDown 1.7s ease-in-out !important;
    animation: fadeInDown 1.7s ease-in-out !important
}

.rs-slider.slider8 .owl-item.active .sl-title {
    -webkit-animation: slideInRightShort 1.2s ease-in-out !important;
    animation: slideInRightShort 1.2s ease-in-out !important
}

.rs-slider.slider8 .owl-item.active .slider-bottom {
    -webkit-animation: fadeInUp 1.8s ease-in-out !important;
    animation: fadeInUp 1.8s ease-in-out !important
}

.text-black {
    color: #000
}

body.home-eight .full-width-header .rs-header .menu-area .main-menu .rs-menu ul.mega-menu {
    box-shadow: rgb(9 30 66 / 25%) 0 4px 8px -2px, rgb(9 30 66 / 8%) 0 0 0 1px
}

.full-width-header .rs-header .menu-area .main-menu .rs-menu ul.mega-menu .mega-menu-container .single-megamenu .sub-menu .menu-title {
    color: #000;
    padding: 10px 30px
}

.full-width-header .rs-header .menu-area .main-menu .rs-menu ul.mega-menu .mega-menu-container .single-megamenu .sub-menu .menu-title a {
    color: #000;
    padding: 0 0 !important;
    font-size: 17px;
    font-weight: 600
}

.full-width-header .rs-header .menu-area .main-menu .rs-menu ul.sub-menu li a {
    color: #000
}

.txt_clr {
    color: #106eea
}

.stories_img_txt {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 30px;
    width: 100%;
    background-color: #25a3fdc7
}

.contact_txt_center {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.stories_btn {
    background: #fff;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    color: #106eea;
    font-size: 14px
}

.rs-breadcrumbs {
    min-height: 492px;
    max-height: 492px
}

.tagline-text {
    font-size: 20px;
    margin-top: 20px
}

.card_1:hover h4 {
    color: #106eea
}

.how_can_we_help {
    background-image: url("../images/bg10.PNG") !important;
    background-position: center
}

.service_img {
    border: 2px solid #106eeac4;
    border-radius: 14px;
    box-shadow: rgb(17 12 46 / 15%) 0 48px 100px 0
}

@media screen and (min-device-width:1200px) and (max-device-width:1284px) {
    .full-width-header .rs-header .menu-area .main-menu .rs-menu ul.sub-menu li a {
        height: unset;
        line-height: unset;
        font-weight: 400;
        font-size: 14px;
        padding: 3px 30px !important;
        text-transform: initial
    }
}

@media only screen and (max-width:1024px) {
    .desc_txt {
        height: 209px
    }
}

@media only screen and (max-width:600px) {
    .stories_subtext {
        display: none
    }
    .stories_title {
        font-size: 14px !important
    }
    .rs-project.style4 .project-item .project-inner {
        padding: 6px 6px
    }
    .stories_btn {
        background: 0 0;
        padding: 0;
        border-radius: 0;
        color: #fff;
        font-size: 12px
    }
    .desc_txt {
        height: 167px
    }
    .stories_learn_more {
        padding-top: 0 !important;
        margin: 0
    }
    .stories_img_txt {
        font-size: 16px;
        top: 22%
    }
}