/* Minified-css */
.sub-height{line-height:44px;}
.support-sub-heading{font-size:23px!important;line-height:35px!important}.sub-para{font-size:17px!important}.bg26{background-image:none!important;background-color:#106eea;border-radius:0!important}.sec-title2 .title.title2.title4{font-size:16px!important;line-height:2!important}.border_left{border-left:2px solid #106eea}.sec-title2 .title.title2.title4{min-width:770px!important}@media only screen and (max-width:600px){.sec-title.style2 .first-half.right-section{padding-left:0!important}.last-half p{margin-top:30px!important}.sec-title2 .title.title2.title4{min-width:0!important;padding:20px!important}.border_left{border-left:0 solid #106eea}}