.sub-height{line-height:44px}.rs-services .service-wrap{min-height:595px!important;box-shadow:rgb(0 0 0 / 24%) 0 3px 8px!important}.custom-2{filter:brightness(80) invert(1)}
.custom-2{filter:brightness(80) invert(1)}
    .btn-custom {
        position: absolute;
        bottom:35px;
        left: 25%;
    }